*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #222938;
    color: #F9FAFB;
}
.nav-bar li{
    position: relative;
}
.nav-bar li a:hover,
.nav-bar li a.active{
color: #54BD95;
transition: 0.3s ease;
}
.relative{
    position: relative;
}

.nav-bar li a.active::after,
.nav-bar li a:hover::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #54BD95;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
.navbar{
    width: 100%;
}

.nav-btn{
    background-color: #54BD95;
}
.g-pad{
    padding: 0 8%;
}
.blue-color{
    color: #161C28;
}

.text-color{
color: #000000;
}
.text-poppins{
    font-family: poppins, sans-serif;
}
.g-colour{
    color: #54BD95;
}
.logo{
    font-size: 30px;
    font-weight: 800;
}
.logo:hover{
   color: #54BD95;
}
h1{
    font-weight: 600;
    font-size: 60px;
}
#Hero-section{
    margin-top: 70%;
}
.image-one{
    width: 115%;
    /* transform: rotate(25?; */
    /* z-index: 1000; */
}
button{
    background-color: #54BD95;
    border: none;
    border-radius: 10px;
    color: white;
}
p{
    color: #A6A6A6;
}
.but{
border: 2px;
border-color: #54BD95;



}
.sponsors{
    text-align: center;
}
.sponsors-logo{
    justify-content: space-between;
    margin-top: 60px;
}
.checked {
    color: orange;
  }
  .grey-color{
    color: #A6A6A6;
  }
  .h1{
    font-weight: 600;
    font-size: 40px;
  }
p{
    line-height: 2;
}
.headings{
    font-size: 25px;
}
.margin{
    margin-top: 100px;
}
.margins{
    margin-top: 140px;
}
.feat{
    justify-content: space-between;
}
.laptop{
    justify-self: center;
    margin-left: 60px;
}
.b-1{
    position: absolute;
    top: 40px;
    width: 260px;
    right: 300px;
}
.b-2{
    position: absolute;
    bottom: 0px;
    width: 280px;
    left: 0px;
}
.icon{
    position: absolute;
    left: 20px;
    top: 230px;
}
.b-3{
    position: absolute;
    right: 0;
    top: 150px;
}
.pic-1{
    position: absolute;
    top: 50px;
    width: 230px;
    right: 313px;
}
.text-1{
    position: absolute;
    bottom: 2px;
    left: 12px;
    
}
.Plan{
    text-align: center;
}
a{
    text-decoration: none;
}
h6{
   align-items: center;
}
.bg-ash{
    background-color: #F9FAFB;
}
.ash{
    color: #A6A6A6;
}
.g-border{
    border-color: #23af79;
    border: 1px solid;
}
.footer{
    background-color: #161C28;
}
.login{
background-color: #222938;
}
.footer-margin{
    margin-top: 100px;
}
.profile-pic{
    width: 50px;
}
.email{
   width: 100%;
}
.message{
    width: 100%;
}
.position{
    text-align: center;
    align-items: center;

}
.p-absolute{
    position: absolute;
}
.submit{
justify-items: center;
align-items: center;
width: 100%;
}
.entermail{
   background-color: #222938;
    border-color: #54BD95;
    border-radius: 20px;
    width: 75%;
    color: #fff;
    padding: 13px 0;

}
h2{
    font-size: 50px;
}
.for{
position: absolute;
right: 153px;
top: 130px;
z-index: 2;
}
.circle{
position: absolute;
right: 145px;
top: 120px;
}
.copy{
    margin-top: 120px;
}
.terms{
    margin-top: 50px;
}

@media (max-width: 900px) {
    .image-one{
        position: static;
        width: 100%;
        margin-top: 40px;
      
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    h2{
        font-size: 30px;
    }
    .line{
        width: 70%;
    }
    .trial-button{
        padding: 5px 2px;
    }
    .margin{
        margin-top: 50px;
    }
    .margins{
        margin-top: 70px;
    }
    .h1{
        font-size: 24px;
    }
    h3{
        font-size: 50px;
    }
    .logos{
        width: 60px;

    }
    .sponsors-logo{
        margin: 0% 2px;
    }
    .g-pad{
        padding: 0% 2% !important;
    }
    .plan-btn{
       width: 50%;
    }
    .feat-img{
        width: 100px !important;
        /* height: 20px; */
        margin: 0 3% !important;
    }
    h6{
        width: 100%;
    }
    .headings{
        font-size: 20px;
    }
    .feat-1{
        float: right;
    }
    /* .feat-2{
        float: left;
    } */
    .privacy{
        margin-top: 0% !important;
    }
    .benefit{
padding-top: 2% !important;
    }
    .b-1{
        position: absolute;
        top: 40px;
        width: 200px;
        right: 110px;
    }
    .b-2{
        position: absolute;
        bottom: 0px;
        width: 270px;
        left: 0px;
    }
    .icon{
        position: absolute;
        left: 20px;
        top: 150px;
    }
    .b-3{
        position: absolute;
        right: 0;
        top: 150px;
    }
    .pic-1{
        position: absolute;
        top: 50px;
        width: 200px;
        right: 100px;
    }
    .text-1{
        position: absolute;
        bottom: 2px;
        left: 10px;
        
    }
    .plan-btn{
        margin:0 50% !important;
        /* position: relative; */
        visibility: hidden;
    }
    .choose{
        padding: 0 5px !important;
    }
    .free{
        margin: 0% !important;
    }
}